table{
	border-spacing: 0;
	padding: 0px;
	margin:0px;
}
td, th {
	padding: 1em;
	border: 1px solid black;
}

.bleuClair{
	background-color:  #c0cceb;
}

.bleu{
	background-color:  #73c4da;
}

.orange{
	background-color:  #f3890b;
}

.orangeClair{
	background-color:   #f9c078;
}

.jaune{
	background-color: #f9d700;
}

.date{
	margin-bottom: 5%;
	margin-left: 30%;
}

.solde{
	margin-left:21.4em;
}


.date td{
	background-color:  #8a7d27;
	color: white;
	border: 0px solid black;
	width: 7.25%;
}

.arnaquemoldave{
	border: 0px solid black;
}

div{
	margin-left: 3%;
	margin-top: 1%;
    padding-bottom: 1%;
}

.radio{
	margin-left: 3%;
}

.radiobox{
	margin-left: 6%;
}