<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Affichage facture</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <table class=date>
      <tr>
        <td> Année : </td>
        <td th:text="${bilan_year}">  </td>
      </tr>
      <tr>
        <td> Mois : </td>
        <td th:text="${bilan_month}">  </td>
      </tr>
    </table>

    <table class=solde>
      <tr>
        <th colspan="2" rowspan="6" class="arnaquemoldave" > </th>
        <th rowspan="2" colspan="2" class="bleu"> FORMATION </th>  
        <th rowspan="6" colspan="2" class="orange"> Recettes </th>
        <th colspan="5" class="orange"> TOTAL TTC </th>
        <td class="orangeClair" th:text="${total_ttc}"> €</td>
        <th rowspan="3" class="jaune"> SOLDE MOIS </th>
      </tr>
      <tr>
        <td colspan="6"> </td>
      </tr>
      <tr>
        <th rowspan="2" class="bleuClair"> Nb de formation </th>
        <th rowspan="2" class="bleuClair"> Nb de candidats </th>
        <th class="orange"> 20,0% </th>
        <th class="orange"> 10,0% </th>
        <th class="orange"> 5,5% </th>
        <th class="orange"> 2,0% </th>
        <th class="orange"> 0,0% </th>
        <th class="orange"> TOTAL TVA </th>
      </tr>
      <tr>
        <td class="orangeClair" th:text="${total20}">  € </td>
        <td th:text="${total10}"> - € </td>
        <td class="orangeClair" th:text="${total5}">  € </td>
        <td th:text="${total2}"> - € </td>
        <td class="orangeClair" th:text="${total0}">  € </td>
        <td th:text="${total_tva}"> - € </td>
        <td rowspan="3" class="jaune" th:text="${soldemois}"> € </td>
      </tr>
      <tr>
        <td rowspan="2" class="bleuClair" th:text="${nb_total_formation}"> 0 </td>
        <td rowspan="2" class="bleuClair" th:text="${nb_total_candidat}"> 0 </td>
        <td colspan="5">  </td>
        <th class="jaune"> VERIF TVA OK </th>
      </tr>
      <tr>
        <th colspan="5" class="orange" > TOTAL HT </th>
        <td class="orangeClair" th:text="${total_ht}" > </td>
      </tr>
      <tr>
        <th > Emise </th>
        <th > </th>
        <th> Action </th>
        <th> NB Candidats </th>
        <th> Encaissé </th>
        <th> Réf. </th>
        <th> Client </th>
        <th> Nature </th>
        <th> HT </th>
        <th> TVA </th>
        <th> TVA SOMME </th>
        <th> TTC </th>
        <th> Encaissement </th>
      </tr>
      <tr th:each="facture, iFacture : ${factures}">
        <th th:text="${facture.formation.dateFormation}">  </th>
        <th th:text="${facture.validPaie}"></th>
        <th th:text="${facture.formation.action}">  </th>
        <th th:text="${facture.formation.nbCandidat}">  </th>
        <th th:text="${facture.dateFacture}">  </th>
        <th th:text="${facture.ref}">  </th>
        <th th:text="${facture.formation.client.name}">  </th>
        <th th:text="${facture.nature}">  </th>
        <th th:text="${facture.price}">  </th>
        <th th:text="${facture.tva}">  </th>
        <th th:text="${facture.tvaSomme}">  </th>
        <th th:text="${facture.priceTTC}">  </th>
        <th th:text="${facture.type}">  </th>
      </tr>
    </table>
  </body>
</html>