<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Formulaire</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1> Formulaire </h1>
    <form action="#" method="post" class="formulaire" th:action="@{/create}" th:object="${createTout}">
        <div>
            <label for="client_name"> Nom client :</label>
            <input type="text" id="client_name" name="client_name" required="required" th:field="*{client_name}"/>
        </div>
        <div>
            <label for="action"> Action :</label>
            <input type="text" id="action" name="action" required="required" th:field="*{action}"/>
        </div>
        <div>
            <label for="nb_candidat"> nombre de candidats :</label>
            <input type="number" id="nb_candidat" name="nb_candidat" required="required" th:field="*{nb_candidat}"/>
        </div>
        <div>
            <label for="date_formation">Date de formation :</label>
            <input type="date" id="date_formation" name="date_formation" required="required" th:field="*{{date_formation}}"/>
        </div>
        <div>
            <label for="month">Mois :</label>
            <input type="number" min="0" max="12" id="month" name="month" required="required" th:field="*{month}"/>
        </div>
        <div>
            <label for="year">Année :</label>
            <input type="number" min="0" id="year" name="year" value="2022" required="required" th:field="*{year}"/>
        </div>
        <div>
            <label for="price">Prix (€) :</label>
            <input type="number" step="0.01" id="price" name="price" required="required" th:field="*{price}"/>
        </div>


        <p class="radio"> selectionner le taux de tva : </p>
        <div class="radiobox">
            <input type="radio" id="20" name="tva" value="20"
                   checked th:field="*{tva}"/>
            <label for="20" type="number">20</label>
        </div>

        <div class="radiobox">
            <input type="radio" id="10" name="tva" value="10" th:field="*{tva}"/>
            <label for="10" type="number">10</label>
        </div>

        <div class="radiobox">
            <input type="radio" id="5.5" name="tva" value="5.5" th:field="*{tva}"/>
            <label for="5.5" type="number">5.5</label>
        </div>
        <div class="radiobox">
            <input type="radio" id="2" name="tva" value="2" th:field="*{tva}"/>
            <label for="2" type="number" >2</label>
        </div>
        <div class="radiobox">
            <input type="radio" id="0" name="tva" value="0" th:field="*{tva}"/>
            <label for="0" type="number">0</label>
        </div>



        <div>
            <label for="date_facture">Date facture :</label>
            <input type="date" id="date_facture" name="date_facture" required="required" th:field="*{{date_facture}}"/>
        </div>

        <p class="radio"> Type d'encaissement : </p>
        <div class="radiobox">
            <input type="radio" id="Cheque" name="type" value="Cheque"
                   checked th:field="*{type}"/>
            <label for="Cheque" type="text">Cheque</label>
        </div>

        <div class="radiobox">
            <input type="radio" id="Virement" name="type" value="Virement" th:field="*{type}"/>
            <label for="Virement" type="text">Virement</label>
        </div>

        <div class="radiobox">
            <input type="radio" id="Carte Bancaire" name="type" value="Carte Bancaire" th:field="*{type}"/>
            <label for="Carte Bancaire" type="text">Carte Bancaire</label>
        </div>
        <div class="radiobox">
            <input type="radio" id="Especes" name="type" value="Especes" th:field="*{type}"/>
            <label for="Especes" type="text">Especes</label>
        </div>



        <div>
            <label for="ref">Ref :</label>
            <input type="text" id="ref" name="ref" required="required" th:field="*{ref}"/>
        </div>
        <div>
            <label for="nature">Nature :</label>
            <input type="text" id="nature" name="nature" required="required" th:field="*{nature}"/>
        </div>

        <div>
            <input type="submit" value="Valider"/>
        </div>
    </form>

</body>
</html>